* {
    margin: 0 ;
    padding: 0 ;
}
html {
    background-color: white;
}
/* the styles for the elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
header{
    background: linear-gradient(30deg, #f6bb73 0%, white 50%, #f6bb73 80%, #f6bb73 100%);
    padding-top: 1.5em;
    padding-bottom: 2em;
    border-bottom: 3px solid #931420;
}
/* the styles for the header */
header img {
    float: left;
}

header h2 {
    font-size: 170%;
    color: #800000;
    padding-right: 30px;
    padding-left: 100px;
}
header h3 {
    font-size: 130%;
    font-style: italic;
    padding-right: 30px;
    padding-left: 100px;

}
#nav_menu {
    list-style: none;
    position: relative;
}

#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /*position: relative;*/
}

/*.submenu {
	position: absolute;
	display: none;
	clear: left;
	text-decoration: none;
}
*/

#nav_menu ul li {
    float: left;
    background-color: #800000;
    width: 20%;
    padding-top: 1em;
    padding-bottom: 1em;

}

#nav_menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: .875em;
    font-weight: bold;
}


#nav_menu ul li ul {
    display: none;

}
#nav_menu ul li ul li {
    float: none;
    width: 160px;
}


#nav_menu ul li:hover > ul {
    display: block;
    position: absolute ;

}

#nav_menu ul li:after {
    content: " ";
    clear: both;
    display: block;
}



.current {
    color: yellow;
}

em.shadow {
    text-shadow: 1px 1px #800000;
}
/* the styles for the section */
main {

    clear: left;
}

section h2 {
    /*padding-top: .5em;
    padding-bottom: .25em;*/
    font-size: 100%;

}
.heading {
    font-size: 130%;
    color: #800000;
}
article {
    padding-top: .5em;
    padding-bottom: .5em;

}
article img {
    border: 1px solid black;

    float: right;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    padding: auto;


}
article h1 {
    font-size: 150%;
    padding-top: .5em;
    padding-bottom: .25em;
    margin-top: 0;
    margin-bottom: 0;
}
article h2 {
    padding-top: 0;
}
article h3 {
    font-size: 105%;
    padding-bottom: .25em;
}
aside h2 {
    /*padding-top: .5em;
    padding-bottom: .25em;*/
    font-size: 130%;
    color: #800000;
}
aside h3 {
    font-size: 105%;
    padding-bottom: .25em;
}
section h3 {
    padding-bottom: .25em;
    font-size: 105%;
}
section a:hover {
    font-style: italic;
}
section img {
    padding-bottom: 1em;
}
aside p {
    padding-bottom: .5em;
}
aside blockquote {
    font-style: italic;
    padding-right: 2em;
    padding-left: 2em;
}
aside ul {
    padding-bottom: .25em;
    padding-left: 1.25em;
}
aside li {
    padding-bottom: .35em;
}
section {
    width: 215px;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
aside {
    width: 525px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}
/* the styles for the footer */
footer {
    background-color: #931420;
    clear: right;
}
footer p  {
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    text-align: center;
}
